.Vertical {
    position: fixed;
    top: 0;
    left: -200px; 
    transition: left 0.3s;
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    z-index: 3;
  }
  
  .visible {
    left: 0; 
  }
  
  .toggle-button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .vertical-navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .nav-item {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8%;

  }
  
  .nav-item:hover {
    background-color: #555;
  }
  
  .open-button {
    position: fixed;
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .rubymenuimg{

    position: relative;
    padding-bottom: 30px;

  }